@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


:root {
    /* Secondary Color */
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --dark-blue-ratings: hsl(210, 16%, 24%);
    --very-dark-blue: hsl(216, 12%, 8%);

    /* Primary color */
    --orange: hsl(25, 97%, 53%);
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--very-dark-blue);
    min-height: 99vh;
    margin: auto;
    
    
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 360px;
    background-color: var(--dark-blue);
    border: 0px;
    border-radius: 20px;
    margin: auto;
    width: 275px;
}

.feedback {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* margin: auto; */
    /* padding: 2px; */
}

#star-logo {
    /* display: ; */
    background-color: var(--dark-blue-ratings);
    padding: 12px;
    border: 0px;
    border-radius: 100%;
}


.ratings {
    display: flex;
    justify-content: space-around;
    /* border: 0px; */
    /* border-radius: 100%; */
    /* background-color: var(--dark-blue); */
    /* opacity: 60%;  */
    /* padding: 0px; */
}

.ratings button {
    border-radius: 100%;
    text-align: center;
    border: 0px;
    background-color: var(--dark-blue-ratings);
    padding: 14px 18px ;
    cursor: pointer;
    color: white;
    margin: 0px auto 12px;
}

.ratings button:hover {
    background-color: var(--orange);
    color: white;
    transition: ease-in-out;
    transition-duration: 300ms;
    cursor: pointer;
}

.ratings button:active {
    background-color: white;
    color: var(--orange);
}

.ratings button:focus {
    background-color: var(--medium-grey);
    color: white;
}

.response {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#selection {
    background-color: var(--dark-blue-ratings);
    padding: 4px;
    margin: 7px auto 0px;
    color: var(--orange);
    border: 0px;
    width: auto;
    border-radius: 18px;
}

#submitBtn {
    background-color: var(--orange);
    border-radius: 20px;
    border: 0px;
    padding: 12px 6px;
    width: 100%;
    margin: 12px auto ;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    color: white;

}

#submitBtn:hover{
    background-color: white;
    color: var(--orange);
    transition: ease-in-out;
    transition-duration: 300ms;
}

#submitBtn:active {
    background-color: var(--medium-grey);
    color: white;
}

@media screen {
    
}