@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


:root {
    /* Secondary Color */
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);

    /* Primary color */
    --orange: hsl(25, 97%, 53%);
    font-family: 'Overpass', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--very-dark-blue);
    min-height: 99vh;
    margin: auto;
    
    
}

p {
    font-size: 15px; 
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
    height: 50%;
    background-color: var(--dark-blue);
    border: 0px;
    border-radius: 20px;
    margin: auto;
    /* width: 75%; 1440px*/
    width: 275px;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: auto;
    padding: auto;
}

#star-logo {
    /* display: ; */
    background-color: var(--dark-blue);
    padding: 9px 14px;
    border: 0px;
    border-radius: 100%;
}


.ratings {
    display: flex;
    justify-content: space-around;
    /* border: 0px; */
    /* border-radius: 100%; */
    /* background-color: var(--dark-blue); */
    /* opacity: 60%;  */
    padding: auto;
}

.ratings p {
    border-radius: 100%;
    text-align: center;
    border: 0px;
    background-color: var(--dark-blue);
    padding: 9px 15px;
    /* width: 25%; */
}

.response {
    display: none;
}

.attribution {

}

button {
    background-color: var(--orange);
    border-radius: 20px;
    border: 0px;
    padding: 6px;
    width: 100%;
    margin: 20px auto ;
    text-transform: uppercase;
    letter-spacing: 2px;

}

@media screen {
    
}